body{
 
    background-color: rgb(245, 147, 111);
    height: 3000px;
}
 
.nav-bar{
    background-color: rgb(226, 80, 7);
    height: 4vh;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    padding: 2vh;
}
.nav-butt{
     
    
    color: white;
    font-family:fantasy;
}
.art-house{
    background-image: url("pics/frrame.png");
    background-color: aquamarine;
    background-repeat: no-repeat;
     display: flex;
     height: 500px;
      background-size: 600px;
      width: 82vh;
    position: absolute;
    right: 60vh;
      
     align-items: center;
     
}
 .muse{
    height: 30vh;
 }
 .mySlides{
    margin-left: 15vh;
    height: 200px;
 }
