body{
 
    background-color: rgb(245, 147, 111);
    height: 3000px;
}
.nav-bar{
    background-color: rgb(226, 80, 7);
    height: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 20px;
    padding: 2vh;
    width: 212vh;
}
.nav-butt{
     
    
    color: white;
    font-family:fantasy;
}
.cup{
    display: grid;
    grid-template-columns: 300px 500px 10px;
   
    row-gap: 0px;
   column-gap: 0px;
   margin-left: 100px;
}
.drink{
    background-color: rgb(166, 59, 59);
    height: 250px;
    width: 250px;
    border-radius: 200px;
    
}
.mirage{
    opacity: 0;
}

.drink:hover{
    height: 450px;
    width: 450px;
    border-radius: 400px;
    background-color: gray;
    opacity: 1px;

}
.drink:hover .mirage{
    
    opacity: 1;

}
.drink:hover .ice{
    opacity: 0;
}
@media (max-width :1000px) {

    .nav-bar {
        width: 40.9vh;
    }

    .nav-bar a {
        padding: 8px;
        font-size: 16px;
    }

}
